<script>
  getAllSpaces();
</script>
<style>
  #create_space {
    float: right
  } 
</style>
<div class="row">
  <div class="col-8">
    <h1>Spaces List</h1>
    <% @spaces.each do |space| %>
    <% end %>
  </div>
  <div class="col-4">
    <button onclick="createSpace()" class="btn btn-primary btn-lg btn-block" id="create_space" type="button" aria-pressed="true">Add Space</button>
  </div>
</div>

